* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jobsFilterCont {
  display: flex;
  font-size: 50px;
  justify-content: space-around;
}
.cards {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}

div input {
  position: relative;
  padding: 2px;
  left: 40vw;
  width: 500px;
  height: 40px;
  margin: 5px;
}
